body {
  text-align: center;
  background-color: #283149;
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

::selection {
  color: #03045e;
  background: #caf0f8;
}

h1 {
  font-size: 5rem;
  color: #caf0f8;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #0077b6;

}

h2 {
  font-size: 2.3rem;
  color: #caf0f8;
  font-family: "Arvo", cursive;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
<<<<<<< HEAD
  background-image: url('images/joker.jpg');
  background-size: 150px 150px;
=======
  background-image: url('images/srivalli.jpg');
  background-size: 200px 200px;
>>>>>>> 1bbb0d4e47dbdde06d203335a7b412b4a2e038e7
  
}

.a {
  background-image: url('images/petta.jpg');
  background-size: 200px 180px;
}

.s {
  background-image: url('images/saaho.jpg');
  background-size: 180px 200px;
}

.d {
  background-image: url('images/heat\ waves.jpg');
  background-size: 200px 200px;
}

.j {
<<<<<<< HEAD
  background-image: url('images/tokyo\ drift.jpg');
  background-size: 150px 150px;
=======
  background-image: url('images/yenti-yenti.jpg');
  background-size: 200px 200px;
>>>>>>> 1bbb0d4e47dbdde06d203335a7b412b4a2e038e7
}

.k {
  background-image: url('images/end\ game.jpg');
  background-size: 150px 150px;
}

.l {
  background-image: url('images/blinding\ lights.jpg');
  background-size: 150px 150px;
}

.set {
  margin: 10% auto;
}

/* .game-over {
  background-color: red;
  opacity: 0.8;
} */

.pressed {
  box-shadow: 0 3px 4px 0 #caf0f8;
  opacity: 0.5;
}

/* .red {
  color: red;
} */

.drum {
  outline: none;
  border: 10px solid #0077b6;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 6;
  font-weight: 900;
  color: #ffffff; 
  text-shadow: 3px 0 #000000;
  border-radius: 15px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 5px;
  background-color: white;
}
